/*---------- général ----------------------*/

/* Correctif padding Bootstrap 15px → 25px */
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {padding-right:25px;padding-left:25px;}

body {
  background-color: #eee !important;
  font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;
  color: #333;
}

.ombre {
  background-color: #fff;
  padding-right: 3em;
  padding-left: 3em;
  margin-bottom: 2em;
    -webkit-box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -4px 6px 9px rgba(50, 50, 50, 0.5);
    box-shadow:         -4px 6px 9px rgba(50, 50, 50, 0.5);
}

.smallcaps {font-variant: small-caps; /*si GillSans font-size: 0.85em;*/}

a, a:hover, a:focus, a:visited, a h4 {text-decoration: none !important;}

.container.ombre a[target="_blank"]:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    content: " \f08e";
}

/*----------- titraille général ------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: PTSansCaption, GillSans, sans-serif;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
}
h1 {font-size: 2.857em;}

h1#framasoft {font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;}

h3 {font-size: 1.714em;}
h4 {font-size : 1.3em;}

h1.sitename a, h4.titreFramaTrucs a,  a h4.titreBloc { text-decoration:none !important}

/*----------- couleurs ------------*/
.bleu   { color: #0c5b7a !important; }
.rouge  { color: #cc2d18 !important; }
.vert   { color: #8E9C48 !important; }
.jaune  { color: #C48A1B !important; }

.violet { color: #6a5687 !important; }
.orange { color: #eb7239 !important; }

/*---------- header ---------------------*/
.header {
    border-bottom: 11px solid #eee;
    padding-bottom: 0.5em;
    margin-bottom: 2.5em;
    padding-top: 1.5em;
}

.header .col-md-5,
.header .col-md-4,
.header .col-md-3 {
    padding:0 10px;
}

.sitename {
    margin-bottom: 0;
    margin-left: -0.2em;
}

.headerSubTitle {
    color: #666;
    font: italic 1.3em/1.35 "PT Sans", Arial, sans-serif;
    padding-top: 1.65em;
    margin-bottom: 0.5em;
}

/*---------- navigation interne ---------------------*/
.col-md-2 {float:left} /* pb pour cliquer sur les liens des blocs en dessous sinon */

.navEntities {
    float: right;
    margin-top: 2em;
    margin-left: 13.4em;
    height: 24px;
    width: 172px;
}

.navEntities li {
    display: inline-block;
}

.navEntities a, .navEntities2 a{
    text-decoration: none;
    width:21px;
    height:17px;
    display:block;
}

.navEntities2 {
    list-style-type: none;
    margin-top: -13.5em;
    margin-left: -3em;
    height: 172px;
    width: 21px;
    position: relative;
    bottom: 0.5em;
}

.navEntities2 li {
    margin-top: 24px;
}

.navEntities [title] {
    position: relative;
}
.navEntities [title]:hover:after {
    content: attr(title);
    position: absolute;
    top: 1.8em; right: -0em;
    white-space: nowrap;
    padding: 2px 8px;
    background: #eee;
    color: #666;
    font-size: 0.9em;
}

.navEntities2 li:nth-child(1) a { background-color:#0c5b7a}
.navEntities2 li:nth-child(2) a { background-color:#cc2d18}
.navEntities2 li:nth-child(3) a { background-color:#8E9C48}
.navEntities2 li:nth-child(4) a { background-color:#C48A1B}

.navEntities li a,
.navEntities2 li a:hover {
    background: url("../img/widgetsFrama.png") no-repeat scroll 0 0 transparent;
    color: transparent;
}

.navEntities li a:hover,
.navEntities2 li a,
.navEntities2 li a:hover {
    border: none;
}

/* symbole ⇓ par défaut par tout 
 * 1 = bleu, 2 = rouge, 3 = vert, 4 = jaune */
.navEntities li:nth-child(1) a {        background-position:0 0;} 
.navEntities li:nth-child(1) a:hover {  background-position:0 -20px;}
.navEntities li:nth-child(2) a {        background-position:-43px 0; margin-left: 23px;}
.navEntities li:nth-child(2) a:hover {  background-position:-43px -20px;}
.navEntities li:nth-child(3) a {        background-position:-86px 0; margin-left: 23px;}
.navEntities li:nth-child(3) a:hover {  background-position:-86px -20px;}
.navEntities li:nth-child(4) a {        background-position:-132px 0; margin-left: 23px;}
.navEntities li:nth-child(4) a:hover {  background-position:-132px -20px;}

.navEntities2 li:nth-child(1) a:hover { background-position:0 -20px;}
.navEntities2 li:nth-child(2) a:hover { background-position:-43px -20px;}
.navEntities2 li:nth-child(3) a:hover { background-position:-86px -20px;}
.navEntities2 li:nth-child(4) a:hover { background-position:-132px -20px;}



/* topPgLogiciel symbole ⇔ sur bleu */
#topPgLogiciels .navEntities li:nth-child(1) a {        background-position:0 -42px;} 
#topPgLogiciels .navEntities li:nth-child(1) a:hover,
#topPgLogiciels .navEntities2 li:nth-child(1) a:hover { background-position:0 -63px;}

/* topPgCulture symbole ⇔ sur rouge */
#topPgCulture .navEntities li:nth-child(2) a {          background-position:-43px -82px;} 
#topPgCulture .navEntities li:nth-child(2) a:hover,
#topPgCulture .navEntities2 li:nth-child(2) a:hover {   background-position:-43px -103px;}

/* topPgCloud symbole ⇔ sur vert */
#topPgCloud .navEntities li:nth-child(3) a {            background-position:-86px -122px;} 
#topPgCloud .navEntities li:nth-child(3) a:hover,
#topPgCloud .navEntities2 li:nth-child(3) a:hover {     background-position:-86px -142px;}

/* topPgCloud symbole ⇔ sur jaune */
#topPgVrac .navEntities li:nth-child(4) a {             background-position:-129px -163px;} 
#topPgVrac .navEntities li:nth-child(4) a:hover,
#topPgVrac .navEntities2 li:nth-child(4) a:hover {      background-position:-129px -182px;}

/* topPgCulture, Cloud Vrac, symbole ⇑ sur bleu */
#topPgCulture .navEntities li:nth-child(1) a,
#topPgCloud .navEntities li:nth-child(1) a,
#topPgVrac .navEntities li:nth-child(1) a {          background-position:0 -82px;} 
#topPgCulture .navEntities li:nth-child(1) a:hover,
#topPgCulture .navEntities2 li:nth-child(1) a:hover,
#topPgCloud .navEntities li:nth-child(1) a:hover,
#topPgCloud .navEntities2 li:nth-child(1) a:hover, 
#topPgVrac .navEntities li:nth-child(1) a:hover,
#topPgVrac .navEntities2 li:nth-child(1) a:hover {   background-position:0 -103px;}

/* topPgCloud Vrac, symbole ⇑ sur rouge */
#topPgCloud .navEntities li:nth-child(2) a,
#topPgVrac .navEntities li:nth-child(2) a {          background-position:-43px -122px;} 
#topPgCloud .navEntities li:nth-child(2) a:hover,
#topPgCloud .navEntities2 li:nth-child(2) a:hover,
#topPgVrac .navEntities li:nth-child(2) a:hover,
#topPgVrac .navEntities2 li:nth-child(2) a:hover {   background-position:-43px -142px;}

/* topPgVrac, symbole ⇑ sur vert */
#topPgVrac .navEntities li:nth-child(3) a {          background-position:-86px -163px;} 
#topPgVrac .navEntities li:nth-child(3) a:hover,
#topPgVrac .navEntities2 li:nth-child(3) a:hover {   background-position:-86px -182px;}


/*-------------------- ContentAccueil ---------------*/

.accroche {
    list-style-type: none;
    font: 1.143em/1.7em PTSansCaption, GillSans, sans-serif;
    margin-left: 2em;
    margin-top: 15px; /* 0; BSV3 */
}

.accroche li {
    line-height: 2em;
}

.containerActu{
    margin-left: 0em !important;
    margin-top: 1.5em;
    margin-right: 0em;
    font-size: 1em;
    line-height: 1.8em;
}

#news, .presentation {
    border-bottom: 8px solid #eee;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

#contentCommunaute {
    margin-top: 3.5em;
    margin-bottom: 2.5em;
}
.blocCommunaute {
    margin-top: 1em;
    min-height: 25em !important;
}

.blocCommunaute>img {
    margin-top: 1.5em;
}

#presentationLibre, #presentationServices,
#presentationLogiciels, #presentationLibrenVrac{
    padding-bottom: 2em;
}

.col-md-12 {clear:both;}

#blocServices {
    padding-bottom: 2em;
}
#AlaUne {
    margin-top: 1.5em;
}

blockquote {
    font: 1.287em/1.7em PTSans, GillSans, sans-serif;
    color: #666;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: right;
    border: none;
}

.miniBloc {
    margin-top: 2.5em;
    min-height: 23em !important;
}

.miniBloc2 {
    margin-top: 1.5em;
    min-height: 22em !important;
    margin-bottom: 1.5em;
}

h4 {
    border-bottom: 8px solid #eee;
    padding-bottom: 6px;
    margin-bottom: 0.5em;
}

#topPgLogiciels h4,
#topPgCulture h4,
#topPgCloud h4,
#topPgVrac h4 {
    background: url("../img/widgetsFrama2.png") no-repeat scroll transparent;
}
#topPgLogiciels h4 { background-position: 205px 2px; }
#topPgCulture h4   { background-position: 205px -52px; }
#topPgCloud h4     { background-position: 205px -110px; }
#topPgVrac h4      { background-position: 205px -166px; }

#topPgLogiciels h4:hover { background-position: 205px -23px; }
#topPgCulture h4:hover   { background-position:  205px -80px; }
#topPgCloud h4:hover     { background-position: 205px -137px; }
#topPgVrac h4:hover      { background-position: 205px -194px; }

.blocSubTitle, .miniBlocSubTitle {
    font-weight: bold;
}
.blocSubTitle, .blocTexte{
    margin-left: 0em;
    margin-right: .5em;
    line-height: 1.5em;
}

.miniBlocSubTitle , .miniBlocTexte {
    margin-right: 1em;
    line-height: 1.5em;
    position:relative;
    z-index:2;
}
 /* Trait fin de § */
.miniBlocTexte:after {
    content: "\A███";
    white-space:pre;
    line-height:2em;
    color: #ddd;
}
 /* Background icon (complété dans le code html par la classe font-awesome "fa-[nom-de-l-icone]" */
.miniBlocSubTitle:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 100px !important;
    position: absolute;
    top: 80px;
    right:0;
    opacity: 0.3;
    z-index: 1;
}

.fa-archive.miniBlocSubTitle:before {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.fa-sitemap.miniBlocSubTitle:before {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#topPgLogiciels .miniBlocSubTitle:before { color: #0c5b7a; }
#topPgCulture .miniBlocSubTitle:before   { color: #cc2d18; }
#topPgCloud .miniBlocSubTitle:before     { color: #8E9C48; }
#topPgVrac .miniBlocSubTitle:before      { color: #C48A1B; }

.EnVenteLibre {
    background: none;
    font-weight: bold;
    font-size:18px;
    position: absolute;
    right: 1em;
    margin-top: -36px;
}

.EnVenteLibre a:hover {
    color: #604043; border: none;
}
/*-------------- les FramaTrucs-------------*/

#blocFramatrucs{
    margin-top: 0px;
    padding-left:15px;
    padding-right:15px;
}

#blocFramatrucs .col-md-4, #blocFramatrucs .col-md-8 {
    padding-left:15px;
    padding-right:15px;
}

.titreFramaTrucs {
    border-bottom: 2px solid #ddd;
    padding-top: 0.7em;
    padding-bottom: 5px;
    margin-bottom: 9px;
    margin-left: 1em;
    margin-right: 1em;
}

.listeFramaTrucs li, .FramaTrucs li {line-height: 24px;}

.listeFramaTrucs {
    list-style-type: none;
    margin-left: 1.5em;
    padding-left: 15px !important;
}

.listeFramaTrucs a {
    font: bold 1.143em/1.357em PT Sans, Arial, Helvetica, sans-serif;
    text-decoration:none;
    width:50%;
    float:right;
}

.titreFramaTrucs a:hover,
.listeFramaTrucs a:hover {
    text-decoration:none;
    color:#5d4037 !important;
}

.homeAlerte {
    float: left;
    text-align:center;
    margin-top:2em;
    margin-left:2em;
    font-size:120%;
    width:45%;
}

/*--------------------Illustrations -----------------*/

#pingouinVolant {
    margin-left: 31em;
    margin-bottom: -5em;
    margin-top: -1em;
}

.legende {
    color: #888;
    font: italic 1em/1.35 "PT Sans", Arial, sans-serif;
    margin-bottom: 2em;
    text-align: center;
}

.row img {
    width:80%;
    margin:0.5em 10%;
}

/*--------------------Carousel -----------------*/
.carousel {
    margin:1em;
}

.carousel-inner {
    padding-bottom:75px;
    box-shadow:0px 3px 3px rgba(50, 50, 50, 0.5);
}


.carousel-control.right, .carousel-control.left{
    background-image:none !important;
    color:#eee!important;
}

#play-pause {
    position: absolute;
    margin-top: -100px;
    margin-left:30px;
    left: 0%;
}

#play-pause a {
    cursor: pointer;
    font-size: 30px;
    z-index: 1000 !important;
    background: #f3f3f3 !important;
    border-radius: 30px;
    color: #767676 !important;
    width: 40px;
    height: 40px;
    padding-left: 2px;
    padding-top: 2px;
    position:absolute!important;
    opacity:1;
    text-shadow:none;
    box-shadow:0px 1px 1px rgba(50, 50, 50, 0.5);
}
#play-pause a:hover {
    color: #555 !important;
}

.carousel a{
    border-bottom: none!important;
}

.carousel-caption{
    background: #f3f3f3 !important;
    bottom:-75px!important;
    color: #333 !important;
    left:0!important;
    right:0!important;
    position:absolute!important;
    height:78px !important;
    text-shadow:none;
    border-top:1px solid #ddd;
}

.carousel img {
    width:100%;
    margin:0;
}

ul,ol {padding-left:0 !important}